--atomic-tangerine: #ff914cff;
--jet: #393636ff;
--tropical-indigo: #8783d1ff;
--seashell: #f8efeaff;
--platinum: #cdd7d6ff;

--atomic-tangerine: hsla(23, 100%, 65%, 1);
--jet: hsla(0, 3%, 22%, 1);
--tropical-indigo: hsla(243, 46%, 67%, 1);
--seashell: hsla(21, 50%, 95%, 1);
--platinum: hsla(174, 11%, 82%, 1);