* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta', sans-serif;
}

section {
    padding: 1% 2%;
    margin-bottom: 2.5%;
    background-color: #f8efeaff;
}

.page-title {
    padding-top: 2%;
}

.span-contrast {
    color: #8783d1ff;
    font-weight: 700;
}

.flex-vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-horizontal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}